body{
    background-color:rgb(161, 199, 150)
}

li{
    color:aliceblue
}

.first{
    font-size: 20px;;
}
.second{
    text-decoration: underline;
}

.box{
    background-color: rgb(179, 213, 169);
    border-color: black;
    border-width: 8px;
    border-style: dotted;

    padding: 20px;
    /* inside box */
    margin: 20px;
    /* outside box */

    width: 200px;
}

.box2{
    position: fixed;
    top: 10px;
    right: 30px;
}

.box3{
    position:absolute;
    top: 0px;
    left: 600px;
}

.box4{
    position:relative;
    left: 40px;
}